COMPOSE_PROJECT_NAME=warehouse-rl

ENVIRONMENT_PORT=3001
VIEWER_PORT=3000

WAREHOUSE_GRID_WIDTH=8
WAREHOUSE_GRID_HEIGHT=8
WAREHOUSE_MAX_STEPS=100
WAREHOUSE_ROBOT_START=0,0
WAREHOUSE_BOX_START=2,2
WAREHOUSE_GOAL_POSITION=7,7
WAREHOUSE_WALLS=1,1;1,2;3,4;4,4
WAREHOUSE_REWARD_STEP=-1
WAREHOUSE_REWARD_INVALID=-5
WAREHOUSE_REWARD_PICKUP=10
WAREHOUSE_REWARD_DELIVERY=50
WAREHOUSE_REWARD_WALL=-5

ENVIRONMENT_BASE_URL=http://environment:3001
TRAINER_REQUEST_TIMEOUT_SECONDS=5
TRAINER_MODE=random
RANDOM_AGENT_EPISODES=500
RANDOM_AGENT_SEED=42
PPO_TOTAL_TIMESTEPS=2000
PPO_LEARNING_RATE=0.0003
PPO_N_STEPS=64
PPO_BATCH_SIZE=32
PPO_GAMMA=0.99
PPO_MODEL_PATH=/app/models/warehouse_ppo.zip
PPO_EVAL_EPISODES=3
